ul{margin: 0; padding: 0;}
input{-webkit-border-radius: 12px; border-radius: 12px;}
.banks{width: 70%; margin: 30px 15%; font-size: 36px;}
.bank_txt{width: 70%; margin: 120px 15% 0; font-size: 42px;}
.m{text-align: center;}
.input_btn{width: 70%; border: 1px solid #999; padding: 1.2rem 3.6rem;}
.btn{background-color: #25CA83; color: #fff;}
.btn:active{background-color: #229b67;}
.bank_btn{position: absolute; bottom: 90px; width: 100%;}
.bank_btn input{font-size: 36px;}
.pk-input {
	width:calc(100% - 48px);
	float:left;
	cursor:pointer;			
	padding:24px;
}

.pk-input.-clean{
	background:#fff;
	border:1px solid #eee;
	font:inherit;
}

.pk-input.-dark{
	background:#666;
	color: #eee;
	border:1px solid #999;
	font:inherit;
}

.pk-arrow{
	position:absolute;
	cursor:pointer;			
	right:0px;
	bottom:1px;
	text-align:center;	
	width:90px;
	padding-bottom:0px;
}

.pk-arrow.-clean{
	background:#eee;
	color:#aaa;			
}

.pk-arrow.-dark{
	background:#666;
	color: #eee;
}

.pk-input.-clean:hover + .pk-arrow, .pk-arrow.-clean:hover{
	background:#dfdfdf;
	color:#aaa;			
}

.pk-input.-dark:hover + .pk-arrow, .pk-arrow.-dark:hover{
	background:#000;
	color:#ccc;			
}

.pk-arrow:before{
	transform: rotate(90deg);	
	font-size:56px;
	position:relative;
	content:'›';
	margin:10px 0 0 24px;
	float:left;
}

.pk-overlay {
	width:100%;
	height:100%;
	position:fixed;
	background:#666;
	background:rgba(0,0,0,0.4);
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	z-index:1110;
	transition:opacity .3s;
}

.pk-overlay.-show {
	opacity:1;
	visibility:visible;
}

.pk-modal {
	transform: translateX(-50%) scale(0.8,0.8);
	left:50%;
	top:90px;
	border-radius:9px;
	position:absolute;
	width:840px;
	max-height:90%;
	overflow-y:auto;
	z-index:1111;			
	transition: all .3s;
	visibility:hidden;		
	background:#f2f2f2;
	opacity:0;
}

.pk-modal > .head{
	width:calc(100% - 20px);
	font-size:54px;
	padding:60px 30px;
}

.pk-modal.-clean{
	background:#fff;
	border-bottom:30px solid #efefef;
}

.pk-modal.-clean > .head{
	color:#777;
	background:#efefef;
}

.pk-modal.-dark{
	color:#f2f2f2;
	background:#444;
	border-bottom:30px solid #333;
}

.pk-modal.-dark > .head{
	color:#f2f2f2;
	background:#333;
}

.pk-modal.-show {
	transform: translateX(-50%) scale(1,1);
	visibility:visible;		
	opacity:1;
	box-shadow: 1px 1px 20px 2px #888;
}

.pk-search{
	display:none;
}

.pk-search.-show{
	display:block;
}

.pk-search > input{
	width:calc(100% - 66px);
	padding:24px 12px;
	margin:18px;
	border:1px solid #ddd;
}

.pk-no_result_search{
	padding:30px;
	font-size:42px;
}

.pk-modal > .close{
	position:absolute;
	top:54px;
	right:45px;
	color:#ccc;	
	font-size:66px;
	cursor:pointer;
}

.pk-option{
	cursor:pointer;
	padding:42px 30px;
	width:calc(100% - 60px);
	border-bottom:1px solid #efefef;
}

.pk-option.-clean{	
	border-bottom:1px solid #efefef;
}

.pk-option.-dark{	
	border-bottom:1px solid #333;
	color:#f2f2f2;
	font-size: 42px;
}

.pk-option.-clean:hover, .pk-option.-clean.-selected{
	background:#f2f2f2;			
}

.pk-option.-dark:hover, .pk-option.-dark.-selected{
	background:#333;			
}

.pk-option:last-child{
	border:none;
}

.pk-option > .icon:not(:empty){
	width:48px;
	margin-right:30px;
	color:#ccc;
	font-size:60px;
	float:left;
	margin-top:-9px;
	text-align:center;
}

.pk-option > .txt{
	color:inherit;
}

.pk-modal > .main{
	list-style:none;
}